# exclude monodevelop code-completition cache
*.pidb

# exclude mono debugging symbols
*.mdb

# object folders created by xbuild
obj/

# monodevelop user preference files
*.userprefs

# exclude config files, we ship config.sample
*.config
!Web.config

# exclude binaries 
*.dll
*.exe
*.so

bin/
# EXCEPT external dependencies explicity defined here
!log4net.dll
!AutoMapper.dll

# nunit results
test-results/
TestResult.xml
